<h1>Security Evaluation History</h1>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Accounts Alerts</th>
      <th>Accounts Reminders</th>
      <th>Device Alerts</th>
      <th>Device Reminders</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.messages.each do |message| %>
      <% if message.user_id == current_user.id %>
        <tr>
          <td><%= message.user_id %></td>
          <td><%= message.date %></td>
          <td><%= message.alerts %></td>
          <td><%= message.reminders %></td>
          <td><%= message.device_alerts %></td>
          <td><%= message.device_reminders %></td>
          <td><%= link_to 'Show', message %></td>
          <td><%= link_to 'Edit', edit_message_path(message) %></td>
          <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
