<p id="notice"><%= notice %></p>
<h4> Security Evaluation</h4>
<p>
  <strong>Date:</strong>
  <%= @message.date %>
</p>

<%# save to message %>
<% current_user.user_apps.each do |user_app|%>
  <% if user_app.q1 == 'No' %>
    <% @message.alerts += "\nYour " + App.find(user_app.app_id).name + " account is vulnerable to hacks. Please click here to learn how to set up a multi-factor authentication as soon as possible! \n" %>   
  <% elsif user_app.q1 == "I don't know" %>
     <% @message.reminders +=  "\nYour " + App.find(user_app.app_id).name + " account maybe vulnerable to hacks. Please click here to learn how to set up a multi-factor authentication as soon as possible! \n" %>
  <%end%>
  <% if user_app.q2 == 'No' %>
    <% @message.alerts += "\nYour " + App.find(user_app.app_id).name + " password is not strong enough against hacks. Please click here to learn how to set up strong password and update it as soon as possible! \n" %>  
  <% elsif user_app.q1 == "I don't know" %>
     <% @message.reminders +=  "\nYour " + App.find(user_app.app_id).name + " password may not be strong enough against hacks. Please click here to learn how to set up strong password and update it as soon as possible!\n" %>
  <%end%>
  <% if user_app.q3 == 'Yes' %>
    <% @message.alerts += "\nPlease ensure that the person/people you are sharing " + App.find(user_app.app_id).name + " account with are using this account and their devices securely.\n" %>  
  <% elsif user_app.q1 == "I don't know" %>
     <% @message.reminders +=  "\nPlease ensure that the person/people you are sharing " + App.find(user_app.app_id).name + " account with are using this account and their devices securely.\n" %>
  <%end%>
  <% if user_app.q4 == 'Yes, sometimes' %>
    <% @message.reminders += "\nYou are doing well, but you may want to update your " + App.find(user_app.app_id).name + " password a bit more often (eg. every 30/60 days)\n" %>  
  <% elsif user_app.q4 == 'Yes, rarely' %>
    <% @message.reminders += "\nYou have rooms to improve that you may need to update your " + App.find(user_app.app_id).name + " password a bit more often (eg. every 30/60 days)\n" %>  
  <% elsif user_app.q4 == "No" %>
    <% @message.alerts += "\nFor your "  + App.find(user_app.app_id).name + " account's security, you may need to update the password every 30, 60, or 90 days\n" %>  
  <% elsif user_app.q4 == "I don't know" %>
    <% @message.reminders += "\nFor your "  + App.find(user_app.app_id).name + " account's security, you may need to update the password every 30, 60, or 90 days\n" %>  
  <%end%>
  <% if user_app.q5 == 'No' %>
    <% @message.alerts += "\nPlease update your " + App.find(user_app.app_id).name + " account to the latest version as soon as possible!\n" %>  
  <% elsif user_app.q5 == "I don't know" %>
    <% @message.alerts += "\nPlease ensure that you are using the latest version of your " + App.find(user_app.app_id).name + " account.\n" %>  
  <%end%>
<%end%>

<% @devices.each do |d|%>
  <% if d.q2 == "No" %>
    <% @message.device_alerts += "\nPlease set up a PIN, passcode or fingerprint for your devices as soon as possible.\n" %>
  <% elsif d.q2 == "I don't know" %>
    <% @message.device_reminders += "You may need to check if you have PIN, passcode or fingerprint for all your devices and set up one if neccessary.\n" %>
  <% end %>
  <% if d.q3 == "No" %>
    <% @message.device_alerts += "Please set up the auto-lock function in your device's settings as soon as possible.\n" %>
  <% elsif d.q3 == "I don't know" %>
    <% @message.device_reminders += "You may need to check if you have auto-lock for your devices and set up one if neccessary.\n" %>
  <% end %>
  <% if d.q4 == "No" %>
    <% @message.device_alerts += "You should update your devices' operating systems as soon as possible!\n" %>
  <% elsif d.q4 == "I don't know" %>
    <% @message.device_reminders += "You may want to check and ensure that your devices' operating system are up-to-date. You can check in the About of your devices.\n" %>
  <% end %>
  <% if d.q5 == "No" %>
    <% @message.device_alerts += "You should install anti-virus softwares on your devices as soon as possible.\n" %>
  <% elsif d.q5 == "I don't know" %>
    <% @message.device_reminders += "You may need to install anti-virus softwares for devices you haven't installed.\n" %>
  <% elsif d.q5 == "Yes, some of them" %>
    <% @message.device_reminders += "You may need to install anti-virus softwares for those devices you haven't installed.\n" %>
  <% end %>
  <% if d.q6 == "No" %>
    <% @message.device_alerts += "You should check and make sure the people who use your devices are using them securely.\n" %>
  <% end %>
<%end%>

<% if @message.alerts.empty? && @message.reminders.empty? && @message.device_alerts.empty? && @message.device_reminders.empty? %>
  <% @message.perfect += "Hooray! You are doing great! Your accounts and devices are very secure! Please ensure your partner is also doing well and help him/her out when nesseccary :)" %>
<% end %>

<%# show message %>
<% if !@message.alerts.empty? %>
  <h4>Accounts Alerts</h4>
  <%= simple_format(@message.alerts) %>
<%end%>
<% if !@message.reminders.empty? %>
  <h4>Accounts Reminders</h4>
  <%= simple_format(@message.reminders) %>
<%end%>   
<% if !@message.device_reminders.empty? %>
  <h4>Device Reminders</h4>
  <%= simple_format(@message.device_reminders) %>
<%end%>    
<% if !@message.device_alerts.empty? %>
  <h4>Device Alerts</h4>
  <%= simple_format(@message.device_alerts) %>
<%end%>
<% if !@message.perfect.empty? %>
  <h4>Congrats</h4>
  <%= simple_format(@message.perfect) %>
<%end%>

</br></br>
<%= link_to "SEE MY PARTNER'S", messages_path %>  |  
<%= link_to 'HOME', authenticated_root_path %>
