<p id="notice"><%= notice %></p>

<h1>Devices</h1>

<table class='table'>
  <thead>
    <tr>
      <th>User</th>
      <th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
      <th>Q4</th>
      <th>Q5</th>
      <th>Q6</th>
      <th>Q1 Improved</th>
      <th>Q1_2 Improved</th>
      <th>Q2 Improved</th>
      <th>Q3 Improved</th>
      <th>Q4 Improved</th>
      <th>Q5 Improved</th>
      <th>Q6 Improved</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.user.email %></td>
        <td><%= device.q1 %></td>
        <td><%= device.q2 %></td>
        <td><%= device.q3 %></td>
        <td><%= device.q4 %></td>
        <td><%= device.q5 %></td>
        <td><%= device.q6 %></td>
        <td><%= device.q1_improved %></td>
        <td><%= device.q1_improved_2 %></td>
        <td><%= device.q2_improved %></td>
        <td><%= device.q3_improved %></td>
        <td><%= device.q4_improved %></td>
        <td><%= device.q5_improved %></td>
        <td><%= device.q6_improved %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
