<div class="row">
  <div class="col s9">
    <div class="card border-0">  
      <div class="card-content">
        <% need_button = FALSE %>
        <%=image_tag "self_reflection.png", :size=> "35x35", :class=> "rounded float-left responsive", :alt=> "reminder"%>
        <span class="card-title"><h5><strong>Past Reflections</strong></h5></span><br>
        <div class="form-group">
          <% current_user.messages.each do |message| %>
            <% if message.joint_reflection.nil? or message.joint_reflection.empty?%>
              <% need_button = TRUE %>
            <% else %>
              <strong><%= message.date %></strong></br>
              <%= message.joint_reflection %></br></br>
            <% end %>
          <% end %>
        </div>   
      </div>  
      <% if need_button %>
      </br></br>
      <div class="card-content">
        <span class="card-title"><h4>Please write your thoughts on the joint results</h4></span>
        <div class="card-body">
          <%= simple_form_for(current_user, :url => update_popup_reflection_path, :method => :update) do |f| %>
            <%= f.error_notification %>
            <div class="row">
              <div class="form-group">
                <%= f.fields_for :messages do |messages_form| %>
                  <% if messages_form.object.joint_reflection.nil? or messages_form.object.joint_reflection.empty?%>
                    <strong><%= messages_form.object.date %></strong></br>
                    <%= messages_form.text_area :joint_reflection, required: true, label: false, size: "40x20" %></br>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="form-actions col s9">
          <%= f.button :submit, 'Submit', :class=>'btn btn-info' %>
        </div>
      </div>
          <% end %>
      <% end %>
  </div>
</div>
