<div class='row'>
  <div class='col'>
    <h4>You</h4>
    <table>
    <% @user.user_apps.each do |user_app|%>

        <td><strong><%= App.find(user_app.app_id).name.capitalize %></strong></td>
        <% if !user_app.q1_improved.nil? %>
        <tr>
          <td>I have installed a multi-factor authentication for this account.</td>
          <td>
            <% if user_app.q1_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%> 
            <% else %>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q2_improved.nil? %>
        <tr>
          <td>I have created a strong password for this account, which contain 
          at least 8 characters, a mixture both uppercase and lowercase letters, 
          a mixture of letters and numbers, and include at least one special character 
          (eg. !, @, #, ?).</td>
          <td>
            <% if user_app.q2_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else %>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q3_improved.nil? %>
        <tr>
          <td>I have changed my account passwords to make sure that this account's 
          password is different from other accounts'.</td>
          <td>
            <% if user_app.q3_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else%>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q4_improved.nil? %>
        <tr>
          <td>I have set up a reminder to update my password for this account every 30/60/90 days.</td>
          <td>
            <% if user_app.q4_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else%>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q5_improved.nil? %>
        <tr>
          <td>I have updated my account to the latest version.</td>
          <td>
            <% if user_app.q5_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else%>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q6_mine_improved.nil? %>
        <tr>
          <td>I have checked and make sure that my devices are secure for the use of this account.</td>
          <td>
            <% if user_app.q6_mine_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else%>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q6_partner_improved.nil? %>
        <tr>
          <td>I have checked and make sure that my partner's devices are secure for the use of this account.</td>
          <td>
            <% if user_app.q6_partner_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else%>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q6_public_improved.nil? %>
        <tr>
          <td>I have checked and make sure that I am using my accounts securely in other devices.</td>
          <td>
            <% if user_app.q6_public_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else%>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if user_app.q1_improved.nil? && user_app.q2_improved.nil? && 
              user_app.q3_improved.nil? && user_app.q4_improved.nil? &&
              user_app.q5_improved.nil? && user_app.q6_mine_improved.nil? &&
              user_app.q6_partner_improved.nil? && user_app.q6_public_improved.nil? %>
            <tr><td>Good job! No improvement is needed for this account</td></tr>
        <% end %>
    <% end %>
      <td><strong>Devices</strong></td>
      <% device = @user.device %>
        <% if !device.q1_improved.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q1_improved %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if !device.q1_improved_2.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q1_improved_2 %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if !device.q2_improved.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q2_improved %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if !device.q3_improved.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q3_improved %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if !device.q4_improved.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q4_improved %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if !device.q5_improved.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q5_improved %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if !device.q6_improved.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q6_improved %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if device.q1_improved.nil? && device.q2_improved.nil? && 
              device.q3_improved.nil? && device.q4_improved.nil? &&
              device.q5_improved.nil? && device.q6_improved.nil? &&
              device.q1_improved_2.nil? %>
            <tr><td>Good job! No improvement is needed for your devices</td></tr>
        <% end %>
    </table>
  </div>
  <div class='col'>
    <h4>Your Partner</h4>
    <table>
    <% @user.partner.user_apps.each do |user_app|%>
        <td><strong><%= App.find(user_app.app_id).name.capitalize %></strong></td>
        <% if !user_app.q1_improved.nil? %>
        <tr>
          <td>I have installed a multi-factor authentication for this account.</td>
          <td>
            <% if user_app.q1_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%> 
            <% else %>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q2_improved.nil? %>
        <tr>
          <td>I have created a strong password for this account, which contain 
          at least 8 characters, a mixture both uppercase and lowercase letters, 
          a mixture of letters and numbers, and include at least one special character 
          (eg. !, @, #, ?).</td>
          <td>
            <% if user_app.q2_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else %>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q3_improved.nil? %>
        <tr>
          <td>I have changed my account passwords to make sure that this account's 
          password is different from other accounts'.</td>
          <td>
            <% if user_app.q3_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else%>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q4_improved.nil? %>
        <tr>
          <td>I have set up a reminder to update my password for this account every 30/60/90 days.</td>
          <td>
            <% if user_app.q4_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else%>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q5_improved.nil? %>
        <tr>
          <td>I have updated my account to the latest version.</td>
          <td>
            <% if user_app.q5_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else%>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q6_mine_improved.nil? %>
        <tr>
          <td>I have checked and make sure that my devices are secure for the use of this account.</td>
          <td>
            <% if user_app.q6_mine_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else%>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q6_partner_improved.nil? %>
        <tr>
          <td>I have checked and make sure that my partner's devices are secure for the use of this account.</td>
          <td>
            <% if user_app.q6_partner_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else%>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if !user_app.q6_public_improved.nil? %>
        <tr>
          <td>I have checked and make sure that I am using my accounts securely in other devices.</td>
          <td>
            <% if user_app.q6_public_improved %>
              <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>
            <% else%>
              <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if user_app.q1_improved.nil? && user_app.q2_improved.nil? && 
              user_app.q3_improved.nil? && user_app.q4_improved.nil? &&
              user_app.q5_improved.nil? && user_app.q6_mine_improved.nil? &&
              user_app.q6_partner_improved.nil? && user_app.q6_public_improved.nil? %>
            <tr><td>Good job! No improvement is needed for this account</td></tr>
        <% end %>
    <% end %>
      <td><strong>Devices</strong></td>
      <% device = @user.partner.device %>
        <% if !device.q1_improved.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q1_improved %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if !device.q1_improved_2.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q1_improved_2 %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if !device.q2_improved.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q2_improved %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if !device.q3_improved.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q3_improved %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if !device.q4_improved.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q4_improved %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if !device.q5_improved.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q5_improved %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if !device.q6_improved.nil? %>
          <tr>
            <td>I started to use a password management system to manage my account passwords.<td>
            <td>
              <% if device.q6_improved %>
                <%= image_tag "check.png", :size=>"20x20", :class=>'img-responsive'%>  
              <% else %>
                <%= image_tag "cross.png", :size=>"20x20", :class=>'img-responsive'%>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if device.q1_improved.nil? && device.q2_improved.nil? && 
              device.q3_improved.nil? && device.q4_improved.nil? &&
              device.q5_improved.nil? && device.q6_improved.nil? &&
              device.q1_improved_2.nil? %>
            <tr><td>Good job! No improvement is needed for your devices</td></tr>
        <% end %>
    </table>
  </div>
</div>
</br>
<%= link_to 'HOME', authenticated_root_path, :class=>'btn btn-info'  %> 