<h4> Your Security Evaluation <%= @message.date %></h4>
<% if !@message.alerts.empty? %>
    </br><h5> Alerts </h5>
    <% @message.alerts.each do |alert| %>
        <% if (alert.include? 'Please click here for a security checklist.') || 
            (alert.include? 'Please click here to learn how to set up strong password and update it as soon as possible!') %>
            <% m = alert.split('here') %>
            <% if alert.include? 'Please click here to learn how to set up strong password and update it as soon as possible!' %>
                - <%= m.first %> <%= link_to 'here' , popup_user_apps_q2_path, :onclick => "window.open(this.href,'popup_q2', 'height=100, width=600');return false;" %> <%= m.last %></br>
            <% else %>
                - <%= m.first %> <%= link_to 'here' , popup_user_apps_q6_path, :onclick => "window.open(this.href,'popup_q6', 'height=100, width=600');return false;" %> <%= m.last %></br>
            <% end %> 
        <% else %>
            - <%= alert %></br>
        <% end %>
    <% end %>
<% end %>
<% if !@message.reminders.empty? %>
    </br><h5> Reminders </h5>
    <% @message.reminders.each do |reminder| %>
        <% if (reminder.include? 'Please click here for a security checklist.') || 
            (reminder.include? 'Please click here to learn how to set up strong password and update it as soon as possible!') %>
            <% m = reminder.split('here') %>
            <% if reminder.include? 'Please click here to learn how to set up strong password and update it as soon as possible!' %>
                - <%= m.first %> <%= link_to 'here' , popup_user_apps_q2_path, :onclick => "window.open(this.href,'popup_q2', 'height=100, width=600');return false;" %> <%= m.last %></br>
            <% else %>
                - <%= m.first %> <%= link_to 'here' , popup_user_apps_q6_path, :onclick => "window.open(this.href,'popup_q6', 'height=100, width=600');return false;" %> <%= m.last %></br>
            <% end %> 
        <% else %>
            - <%= reminder %></br>
        <% end %>
    <% end %>
<% end %>
<% if !@message.device_alerts.empty? %>
    </br><h5> Device Alerts </h5>
    <% @message.device_alerts.each do |d_alert| %>
        - <%= auto_link(d_alert, :html => { :target => '_blank'}) %></br>
    <% end %>
<% end %>
<% if !@message.device_reminders.empty? %>
    </br><h5> Device Reminders </h5>
    <% @message.device_reminders.each do |d_reminder| %>
        - <%= auto_link(d_reminder, :html => { :target => '_blank'}) %></br>
    <% end %>
<% end %>
<% if !@message.perfect.empty? %>
    <%= @message.perfect %>
<% end %>
</br></br>
<% if current_user.partner %>
    <%= link_to "SEE MY PARTNER'S", messages_path, :class=>'btn btn-info' %>  
<% else %>
    <h5>Please add your partner first.</h5>
    <%= link_to "ADD PARTNER", edit_user_path(current_user.id), :class=>'btn btn-info' %> 
<% end %>  
<%= link_to 'HOME', authenticated_root_path, :class=>'btn btn-info'  %>