<p id="notice"><%= notice %></p>

<h1>User Apps</h1>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>User</th>
      <th>App</th>
      <th>Accessed Today?</th>
      <th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
      <th>Q4</th>
      <th>Q5</th>
      <th>Q6</th>
      <th>Q1 Improved</th>
      <th>Q2 Improved</th>
      <th>Q3 Improved</th>
      <th>Q4 Improved</th>
      <th>Q5 Improved</th>
      <th>Q6 Mine Improved</th>
      <th>Q6 Partner Improved</th>
      <th>Q6 Public Improved</th>
    </tr>
  </thead>

  <tbody>
    <% @user_apps.each do |user_app| %>
      <tr>
        <td><%= user_app.user.id %></td>
        <td><%= user_app.user.email %></td>
        <td><%= user_app.app.name %></td>
        <td><%= user_app.accessed_today %></td>
        <td><%= user_app.q1 %></td>
        <td><%= user_app.q2 %></td>
        <td><%= user_app.q3 %></td>
        <td><%= user_app.q4 %></td>
        <td><%= user_app.q5 %></td>
        <td><%= user_app.q6 %></td>
        <td><%= user_app.q1_improved %></td>
        <td><%= user_app.q2_improved %></td>
        <td><%= user_app.q3_improved %></td>
        <td><%= user_app.q4_improved %></td>
        <td><%= user_app.q5_improved %></td>
        <td><%= user_app.q6_mine_improved %></td>
        <td><%= user_app.q6_partner_improved %></td>
        <td><%= user_app.q6_public_improved %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
